:root{
  --blue: rgb(153, 213, 214);
  --midblue: rgb(83, 108, 143);
  --darkblue: rgb(53, 56, 65);
  --greenish: #89e097;
}


* {
   overflow: visible;
   margin: 0;
   padding: 0;
}

body {
  background-color: linen;
}


/* ----------------------------- */
/* section to create the header */
 header {
  display: flex;
  height: 85px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--darkblue);
  color: #fff;
  margin-bottom: 20px;

  
}

h1 {
  color: var(--darkblue);
  background-color: var(--blue);
  line-height: 100%;
  padding: 10px;

}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

nav a, li {
  color: var(--blue);
  font-weight: bold;
  text-decoration: none;
}

nav a:hover, nav li:hover {
  color: #fff;
  cursor: pointer;
}

li {
  text-decoration: none;
  list-style-type: none;
}

/* ----------------------- */
/* section to create structure of the content */
section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

aside {
  width: 10%;
  margin: 10px 10px;
  text-align: right;
  padding-right: 10px;
  border-right: 5px solid var(--darkblue);
  color: var(--darkblue);
}

.content {
  width: 75%;
}


/* styling for the About Me section */
p {
  margin-top: 20px;
  font-size: 20px;
  color: var(--darkblue)
}

#me {
  width: 100%;
  height: auto;
  margin-top: 10px;
}




/* Styling for the applications section */
.application {
  position: relative;
  margin: 20px;
  border: var(--blue) solid 5px;
  background-color: yellow;
}

.app-title {
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  top: 40%;
  left: 0;
  background-color: var(--blue);
  color: var(--darkblue)
}


/* hover effects for the applications */
#app1:hover, 
#app2:hover,
#app3:hover,
#app4:hover,
#app5:hover {
  box-shadow: inset 0px 0px 8px var(--greenish), 0 0 15px var(--greenish);
  opacity: .7;
  cursor:pointer;
}

/* Make the first application appear larger */
#first {
  width: 100%;
  flex-direction: row;
}

/* Making sure the other applications appear smaller */
#second, #third, #fourth, #fifth {
  width: 42%;
  flex-grow: 1;

}

/* Setting dimensions of the background picture display for applications */
#app1, #app2, #app3, #app4, #app5 {
  min-height: 200px;
  background-size: 100%;
  width: 100%;
}

/* linking background images for applications */
#app1 {
  background-image: url("../images/beaches.jpeg");
}
#app2 {
  background-image: url("../images/parkRoyal.jpg");
}
#app3 {
  background-image: url("../images/Singapore.jpg");
}
#app4 {
  background-image: url("../images/hagia.jpg");
}
#app5 {
  background-image: url("../images/bhutan.jpg");
}


/* Contact Me section  */

#contactInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#contactInfo li {
  margin: 10px;
  color: var(--darkblue)
}

/* media queries to make the page responsive */
@media screen and (max-width: 800px) {
  aside {
  width: 12%;
}
}

@media screen and (max-width: 650px) {
  section {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  aside {
  width: 90%;
  border-bottom: 3px solid var(--darkblue);
  border-right: none;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
  }
  .content {
    flex-direction: column;
    width: 90%;
    text-align: left;
    justify-content: center;
  }
  #first, #second, #third, #fourth, #fifth {
    width: 90%;
    flex-grow: 1;
  }
  p {
    margin: 20px;
  }
  #me {
    width: 25%
  }
}
